
/* Your CSS Code here. */
h1{
	text-align: center;
}
h1:hover{
	text-shadow: 0 0 5px #ff0000;
font-size:50px;
}
.movieDetail{
	position:static;
		top:50px;
	width:400px;
	text-align:center;
	font-size:10px;
}
.moviePic{
margin:0;

	height:400px;
width:400px;
	opacity:0.5;
	z-index: -1;
}
.moviePic:hover{
	opacity:1.0;
}